<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Body Fat Predictor</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/predict.css">
</head>
<body>
    <nav>
        <div>
            <h1>Body Fat Predictor</h1>
        </div>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('predict') }}">Predict</a></li>
            <li><a href="">Documentation</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
    <div class="container">
      <div class="formdiv">
        <h3>Enter the following to predict your body fat percentage</h3>
        <form action="{{ url_for('predict') }}" method="post" id="form">
    Age(In Years)
    <input type="number" name="a" step="0.01" required>
    Weight(In Lbs)
    <input type="number" name="b" step="0.01" required>
    Height(In Inches)
    <input type="number" name="c" step="0.01" required>
    Neck circumference(cm)
    <input type="number" name="d" step="0.01" required>
    Chest circumference(cm)
    <input type="number" name="e" step="0.01" required>
    Abdomen circumference (cm)
    <input type="number" name="f" step="0.01" required>
    Hip circumference (cm)
    <input type="number" name="g" step="0.01" required>
    Thigh circumference (cm)
    <input type="number" name="h" step="0.01" required>
    Knee circumference (cm)
    <input type="number" name="i" step="0.01" required>
    Ankle circumference (cm)
    <input type="number" name="j" step="0.01" required>
    Biceps (extended) circumference (cm)
    <input type="number" name="k" step="0.01" required>
    Forearm circumference (cm)
    <input type="number" name="l" step="0.01" required>
    Wrist circumference (cm)
    <input type="number" name="m" step="0.01" required>
</form>

    <button id="submit" type="submit">Predict</button>
</form>
      <div class="predictiondiv">
        {% if prediction %}
         <h3>Prediction:</h3>
         <p>{{ prediction }}</p>
      {% endif %}
      </div>
    </div>
    <footer>
        <p>&copy; 2023 Manthena Dileep sai. All rights reserved. | Contact: dileepsaimanthena4930@gmail.com | <a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a> | Acknowledgments</p>
    </footer>
</body>
<script>
    const form = document.getElementById("form")
    const submit = document.getElementById("submit")
    submit.addEventListener("click",function(event){
        form.submit()
    })
</script>
</html>